.courses-filter {
  padding: 12px;
  border: 1px solid #CFCFE4;
  border-radius: 18px;
  flex: 0 0 264px;

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border: none;
    background: none;
    padding: 12px;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    &_active {
      background-color: #5FBF77;
      color: white;
    }
  }
}
